body
{
    width: 30%;
    height: 30%;
    margin: 10; /* Space from this element (entire page) and others*/
    padding: 10; /*space from content and border*/
    border: solid black;
    border-width: 4px 4px 4px 4px;;
    overflow:hidden;
    display:block;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }